.fairyoutl#open{
    background-color: transparent;
    margin-left: 6.9%;float: left;
    width: 18%;height: 40px;
    border-top: 20px solid #053D52;
    border-bottom: 20px solid #053D52;
    padding: 0px;
    border-left: 20px solid transparent;
}
.hour-banner{
    text-align: center;
    position: absolute;
    width: 50.2%;
    margin-top: 10px;
    margin-left: 24.9%;
    height: 40px;
    padding: 0.25em 0 0 0;
    font-size: 1.5em;
    color: #ffffff;
}
.fairyl#open{
    float: left;margin-left: 0%;
    height: 10px;width: 40px;
    border-left: 40px solid #053D52;
    border-bottom: 10px solid #03222D;
}
.fairyoutr#open{
    float: right;
            margin-right: 6.9%;
            width: 18%;
            border-top: 20px solid #053D52;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #053D52;
            height: 40px;
            background-color: transparent;
}
.fairyr#open{
    float: right;
            border-bottom: 10px solid #03222D;
            border-right: 40px solid #053D52;
            height: 10px;
            width: 40px;
            
}

.fairyoutl#close{
    background-color: transparent;
    margin-left: 6.9%;
    float: left;width: 18%;
    height: 40px;
    border-top: 20px solid #881D16;
    border-bottom: 20px solid #881D16;
    padding: 0px;
    border-left: 20px solid transparent;
}
.fairyl#close{
    float: left;
    margin-left: 0%;
    height: 10px;
    width: 40px;
    border-left: 40px solid #881D16;
    border-bottom: 10px solid #44100C;
}
.fairyoutr#close{
    float: right;
            margin-right: 6.9%;
            width: 18%;
            border-top: 20px solid #881D16;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #881D16;
            height: 40px;
            background-color: transparent;
}
.fairyr#close{
    float: right;
            border-bottom: 10px solid #44100C;
            border-right: 40px solid #881D16;
            height: 10px;
            width: 40px;
            
}
::-webkit-scrollbar
{
    width: 12px;
    background-color: #e6e6e6;
}
 
::-webkit-scrollbar-track
{
    width: 12px;
    
}
 
::-webkit-scrollbar-thumb
{
    width: 12px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    background-color: #ffab00; /*#ffc400; /* #607d8b; /* #26a69a; *//* #085674; *//* #d8a028;//#edb23b; */
    
    -webkit-box-shadow: 0px 0px 8px 0px rgba(43,43,43,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(43,43,43,1);
    box-shadow: 0px 0px 8px 0px rgba(43,43,43,1);
}
html, body, .block {
    height: 100%;
}
main > .home:nth-child(2) {
        padding-top: 165px;
}
main > div:first-child{
    padding-top: 165px;
}
main > div.home:first-child{
    padding-top: 64px; /*165px;*/
}
